#/-------------------[DOTENV_PUBLIC_KEY]--------------------/
#/            public-key encryption for .env files          /
#/       [how it works](https://dotenvx.com/encryption)     /
#/----------------------------------------------------------/
DOTENV_PUBLIC_KEY_EXAMPLE="02ec8940be9ef8b1ada4c8c74a7918d0249e9d0091ccd1786661b86b825e1273b8"

# .env.example
VARIABLE_1="encrypted:BG8XBAwA0m08tm2yC+tKcfAdqpiPEF2E2uPRZxUr0wUhKhJYhGR2GOCam2kW2SRtceHxJa2wtLOtODcfuBcTZOG6elerz4zxHwU4vOS8O5C+6gRJxxtJKaAqTCBrcDuRQnhNlqEwVQvFDk8="
VARIABLE_2="encrypted:BF6lMUP8PZEZYKy7WCMDhJ3BRqWmfcP8YuVCj2YqMaTpNos092XxFAlkc9NgFdvNGeiEFdOJhEwziu1+qGlABPNwqKsrYNjOKs8Pxyba7UVoBzeiX6nK+fjFr7JDAJ3zUXjUPa2qkQcG03o="
